/* ================== font ================ */
@font-face {
    font-family: 'Gilroy';
    src: url();

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body {
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}

#page1 {
    height: 100%;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
}

nav {
    padding: 2vw 3vw;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 50px;
    font-weight: 500;
    position: relative;
    color: rgb(10, 9, 9);
    font-size: 18px;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    left: 0;
    border-radius: 50%;
    bottom: -100%;
    transition: all ease .3s;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a {
    text-decoration: none;
    color: rgb(10, 9, 9);
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a  {
    color: #fff;
}

.center {
    height: 65vh;
    width: 100%;
    background-color: orange;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#left h3{
    width: 30vw;
    font-size: 2vw;
}